/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f9;
  color: #333;
}

/* Container */
.container {
  width: 400px;
  margin: 60px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1,
h2 {
  text-align: center;
  color: #444;
}

/* Navbar */
nav {
  background: #2b45eb;
  padding: 12px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
}

button {
  background: #b3a705;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #f46a7b; /* lebih gelap sedikit saat hover */
}
